<div class="wrapper fadeInDown" style="  background-color: #56baed;   font-family: 'Poppins', sans-serif; height: 100vh;">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>

    <!-- Icon -->
    <div class="fadeIn first" style="padding: 20px 0">
      <i class="fa-solid fa-users-gear" style="font-size: 60px;"></i>
    </div>

    <!-- Login Form -->
    <div>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username" style="text-align: left;" [(ngModel)]="body.tenDangNhap">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password" style="text-align: left;" [(ngModel)]="body.matKhau">
      <input type="button" class="fadeIn fourth" value="Log In" style="margin-top: 40px;" (click)="login()">
    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
    </div>

  </div>
</div>

<p-toast></p-toast>
