

<header>
  <div style="display: flex;">
    <div class="header__logo--container">
      <div class="header__logo" style="text-align: center;">
        <span routerLink="/home" style="text-align: center; font-size: 30px; font-weight: bold; cursor: pointer;">Yody</span>
      </div>

    </div>
    <div style="width: 60%;">
      <div class="Outcontainer" >
        <div class="header__logo-account" id="xh_menu" style="transition: 0.5s;">

          <div class="search__engine">
            <div class="mid">
              <input type="text" placeholder="Tìm kiếm sản phẩm theo tên" (keydown)="timSP($event)" [(ngModel)]="searchKey"/>
              <div class="content">
                <p routerLink="/shop/7EEAA5E7-41EF-49A6-AC4D-A23DFFBE3F81"> Áo thun </p>
                <p routerLink="/shop/48F1B6D1-EF14-44ED-8BD9-4305669B74A0"> Áo khoác dù </p>
                <p routerLink="/shop/F5439B71-98C9-4CCE-AC2F-7A689E924CEA"> Áo Polo </p>
                <p routerLink="/shop/2904143F-949A-4BF6-A530-A0E9D24507B9"> Áo sơ mi </p>
                  <p routerLink="/shop/FDD00170-D6FD-4749-9D08-E351F09461B7"> Quần jeans </p>
              </div>
              <button class="but_Search" type="button" (click)="timKiem()"><i class="fas fa-magnifying-glass"></i></button>
            </div>

          </div>

        </div>
      </div>
      <div class="header__menu--container" style="position: relative;">
        <div class="header__menu cha">
          <div class="menu__item" routerLink="/home"><a>Home</a></div>
          <div class="menu__item cha1" routerLink="/shop/00000000-0000-0000-0000-000000000000"><a>All Product <i class="fa-solid fa-angle-down"></i></a></div>
          <div class="con">
            <div class="container">
              <div style="display: flex; justify-content: space-between;">

                <a routerLink="/shop/00000000-0000-0000-0000-000000000000" style="text-decoration: none; color: black;">Tất cả sản phẩm</a>
                <ng-container *ngFor="let item of listCate">
                  <ng-container *ngIf="!item.loaiSanPhamChaId">
                    <div>
                      <a [routerLink]="['/shop', item.id]" style="text-decoration: none; color: black;">
                        {{ item.tenLoai }}
                      </a>
                      <ul>
                        <ng-container *ngFor="let item2 of listCate">
                          <li *ngIf="item2.loaiSanPhamChaId === item.id">
                            <a [routerLink]="['/shop', item2.id]" style="text-decoration: none; color: black; font-weight: 400;">
                              {{ item2.tenLoai }}
                            </a>
                          </li>
                        </ng-container>
                      </ul>
                    </div>
                  </ng-container>
                </ng-container>
              </div>


                </div>
          </div>
          <div class="menu__item" routerLink="/discount"><a>Discount code</a></div>
          <!-- <div class="menu__item"><a>Collection</a></div> -->

          <div class="menu__item" routerLink="/baiviet/f8469a83-0b5e-4891-8c56-420339132c14"><a>About Us</a></div>
          <div class="menu__item cha2">
            <a>Custom Care <i class="fa-solid fa-angle-down"></i></a>
            <div class="con2">
              <a routerLink="/baiviet/2e8dcac8-0efc-4dc0-bd6f-63ea7fe5c6aa" style="text-decoration: none;">Chất liệu sản phẩm</a>
              <a routerLink="/baiviet/c1ab860a-9138-4466-811c-fff6a9c27c2c" style="text-decoration: none;">Chính sách đổi trả</a>
              <a routerLink="/baiviet/f0495966-7fed-4fb4-8461-19f28d87a8a4" style="text-decoration: none;">Chính sách giao hàng</a>
            </div>
          </div>
          <div class="menu__item" routerLink="/contact"><a>Contact</a></div>
          <div class="menu__item" *ngIf="isAdmin && isDangNhap"><a href="http://localhost:4200" style="color: red; text-decoration: none; font-weight: bold;">Quản trị</a></div>
        </div>

      </div>
    </div>
    <div style="width: 20%;">

      <div style="display: flex; justify-content: space-between; height: 100%; flex-direction: column;">

        <div style="display: flex; justify-content: center; margin-top: 16px; align-items: center; transition: 0.5s ease-in-out;" class="header__account" id="accountmg">
          <div class="item cha3" *ngIf="!isDangNhap">
            <i class="far fa-user" style="font-size: 24px;"></i>
            <div class="con3 menuUser" style="    top: 45px;">
              <a routerLink="/login">Đăng nhập</a>
              <a routerLink="/dangky">Đăng ký</a>
            </div>
          </div>
          <div class="item cha3" *ngIf="isDangNhap">
            <span>Xin chào, {{account.tenHienThi}}</span>
            <i class="far fa-user" style="margin-left: 10px;"></i>
            <div class="con3 menuUser menuUserDN" style="width: 200px; left: 20px;     top: 45px;">
              <a routerLink="/taikhoan">Thông tin tài khoản</a>
              <a routerLink="/donhang">Đơn hàng của tôi</a>
              <a (click)="dangXuat()">Đăng xuất</a>
            </div>
          </div>
        </div>
        <div class="header__account" style="display: flex; align-items: center; justify-content: center; margin-bottom: 25px; transition: 0.5s ease-in-out;" id="icon_hide">

          <div class="item" routerLink="/giohang">
            <i class="fas fa-cart-shopping" style="position: relative;">
              <div style="background-color: rgb(248, 252, 18); width: 19px; height: 19px; position: absolute; top:-6px; right: -6px; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
                <span style="font-size: 12px;">{{soSPTrongGio}}</span>
              </div>
            </i>
          </div>
          <div style="display: flex; align-items: center;" routerLink="/yeuthich" class="box-yeuthich item">
            <i class="fas fa-heart" style="font-size: 20px;" ></i>
          </div>
        </div>

      </div>

    </div>
  </div>
</header>

