:ng-deep .p-dialog-mask {

  font-family: 'nunito', sans-serif;
}
.tablesp{
  font-family: 'nunito', sans-serif;
}


::ng-deep .p-dialog-footer .p-button{
  margin-left: 10px;
  border-radius: 10px;
}
