<div class="main-header">
  <div class="logo-header">
    <a routerLink="dashboard" class="logo" style="text-transform: uppercase;">
      Yody Admin
    </a>
    <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
  </div>
  <nav class="navbar navbar-header navbar-expand-lg">
    <div class="container-fluid">

      <form class="navbar-left navbar-form nav-search mr-md-3" action="">
        <div class="input-group">
          <input type="text" placeholder="Search ..." class="form-control">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="la la-search search-icon"></i>
            </span>
          </div>
        </div>
      </form>
      <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

        <li class="nav-item dropdown">
          <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img [src]="anhAccount" alt="user-img" width="50px" height="50px" style="object-fit: contain;" class="img-circle"><span >{{username}}</span></a>
          <ul class="dropdown-menu dropdown-user">
            <li>
              <div class="user-box">
                <div class="u-img"><img [src]="anhAccount" alt="user"></div>
                <div class="u-text">
                  <h4>{{username}}</h4>
                  <p class="text-muted">{{curRole}}</p></div>
                </div>
              </li>

              <!-- <a class="dropdown-item" href="#"><i class="ti-settings"></i> Account Setting</a> -->
              <div class="dropdown-divider"></div>
              <button class="logoutButton" (click)="logout()" style="cursor: pointer; padding: 10px 30px;"><i class="fa fa-power-off"></i> Logout</button>
            </ul>
            <!-- /.dropdown-user -->
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
      <div class="user">
        <div class="photo">
          <img [src]="anhAccount" alt="image" style="width: 50px; height: 50px; object-fit: contain;">
        </div>
        <div class="info">
          <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
            <span>
              {{username}}
              <span class="user-level">{{curRole}}</span>
            </span>
          </a>
          <div class="clearfix"></div>

          <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
          </div>
        </div>
      </div>
      <ul class="nav">
        <li class="nav-item" *ngFor="let item of listFunc">
          <a [routerLink]="item.rout"  routerLinkActive="activeSB">
            <i [class]="item.iconClass"></i>
            <p>{{item.ten}}</p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a routerLink="/user" routerLinkActive="activeSB">
            <i class="pi pi-users"></i>
            <p>Quản lý người dùng</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/user-admin" routerLinkActive="activeSB">
            <i class="pi pi-user-edit"></i>
            <p>Quản lý người dùng admin</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/category" routerLinkActive="activeSB">
            <i class="pi pi-equals"></i>
            <p>Quản lý danh mục</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/subCategory" routerLinkActive="activeSB">
            <i class="pi pi-bars "></i>
            <p>Quản lý danh mục con</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/product" routerLinkActive="activeSB">
            <i class="pi pi-box"></i>
            <p>Quản lý sản phẩm</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/order" routerLinkActive="activeSB">
            <i class="pi pi-ticket"></i>
            <p>Quản lý đơn hàng</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/expense" routerLinkActive="activeSB">
            <i class="fa-solid fa-coins"></i>
            <p>Quản lý chi phí</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/permission" routerLinkActive="activeSB">
            <i class="pi pi-cog"></i>
            <p>Phân quyền</p>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
