
    <div class="container-fluid">
      <h4 class="page-title">Dashboard</h4>
      <div class="row">
        <div class="col-md-3">
          <div class="card card-stats card-warning">
            <div class="card-body ">
              <div class="row">
                <div class="col-4">
                  <div class="icon-big text-center">
                    <i class="la la-users"></i>
                  </div>
                </div>
                <div class="col-8 d-flex align-items-center">
                  <div class="numbers">
                    <p class="card-category">Tổng lượng người dùng</p>
                    <h4 class="card-title">{{dataHeader.nguoiDung}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-stats card-success">
            <div class="card-body ">
              <div class="row">
                <div class="col-4">
                  <div class="icon-big text-center">
                    <i class="la la-bar-chart"></i>
                  </div>
                </div>
                <div class="col-8 d-flex align-items-center">
                  <div class="numbers">
                    <p class="card-category">Doanh thu theo năm</p>
                    <h4 class="card-title">{{dataHeader.doanhThuNam}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-stats card-danger">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <div class="icon-big text-center">
                    <i class="la la-newspaper-o"></i>
                  </div>
                </div>
                <div class="col-8 d-flex align-items-center">
                  <div class="numbers">
                    <p class="card-category">Doanh thu theo tháng</p>
                    <h4 class="card-title">{{dataHeader.doanhThuThang}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-stats card-primary">
            <div class="card-body ">
              <div class="row">
                <div class="col-4">
                  <div class="icon-big text-center">
                    <i class="la la-check-circle"></i>
                  </div>
                </div>
                <div class="col-8 d-flex align-items-center">
                  <div class="numbers">
                    <p class="card-category">Số đơn hàng chưa xử lý</p>
                    <h4 class="card-title">{{dataHeader.donHang}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- 							<div class="col-md-3">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5">
                  <div class="icon-big text-center icon-warning">
                    <i class="la la-pie-chart text-warning"></i>
                  </div>
                </div>
                <div class="col-7 d-flex align-items-center">
                  <div class="numbers">
                    <p class="card-category">Number</p>
                    <h4 class="card-title">150GB</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5">
                  <div class="icon-big text-center">
                    <i class="la la-bar-chart text-success"></i>
                  </div>
                </div>
                <div class="col-7 d-flex align-items-center">
                  <div class="numbers">
                    <p class="card-category">Revenue</p>
                    <h4 class="card-title">$ 1,345</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col-5">
                  <div class="icon-big text-center">
                    <i class="la la-times-circle-o text-danger"></i>
                  </div>
                </div>
                <div class="col-7 d-flex align-items-center">
                  <div class="numbers">
                    <p class="card-category">Errors</p>
                    <h4 class="card-title">23</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col-5">
                  <div class="icon-big text-center">
                    <i class="la la-heart-o text-primary"></i>
                  </div>
                </div>
                <div class="col-7 d-flex align-items-center">
                  <div class="numbers">
                    <p class="card-category">Followers</p>
                    <h4 class="card-title">+45K</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="row" style="margin: 20px 0;">
        <p>Doanh thu trong năm nay</p>
        <div class="col-lg-12">
          <p-chart type="bar" [data]="dataDoanhThuTheoThangTrongNam" class="w-full md:w-[30rem]" />
        </div>
      </div>
        <p style="margin-bottom: 30px; display: block;">Tổng doanh thu và chi phí</p>
      <div class="row" style="margin: 20px 0;">

        <div class="col-lg-3"></div>

        <div class="col-lg-6">
          <p-chart type="pie" [data]="dataDoanhThuChiPhi"></p-chart>
        </div>
        <div class="col-lg-3"></div>
      </div>
  <p-table [value]="dataDonHangGanNhat" [tableStyle]="{'min-width': '60rem', 'width': '100%'}">
          <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between" style="display: flex; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                    Top 10 đơn hàng gần nhất
                </div>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th>Mã</th>
                  <th>Ngày tạo</th>
                  <th>Người đặt</th>
                  <th>Thành tiền</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                  <td>{{product.id}}</td>
                  <td>{{product.ngayTao | date: 'dd/MM/yyyy'}}</td>
                  <td>{{product.tenHienThi}}</td>
                  <td>{{product.thanhTien | formatVnd}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary">
              <div class="flex align-items-center justify-content-between">

              </div>
          </ng-template>
  </p-table>
  <div style="margin: 20px;">

  </div>
  <p-table [value]="dataKhachThanThiet" [tableStyle]="{'min-width': '60rem', 'width': '100%'}">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between" style="display: flex; justify-content: space-between;">
          <div style="display: flex; align-items: center;">
              Top 10 khách hàng thân thiết
          </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Tên</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Số đơn hàng</th>
            <th>Đã tiêu</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.tenHienThi}}</td>
            <td>{{product.email}}</td>
            <td>{{product.soDienThoai}}</td>
            <td>{{product.soDon}}</td>
            <td>{{product.soTien | formatVnd}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">

        </div>
    </ng-template>
  </p-table>
</div>
