

::ng-deep .p-fileupload-buttonbar,
::ng-deep .p-fileupload-row{
  padding: 10px;
}

::ng-deep .p-fileupload-row div{
  text-align: center;
}

::ng-deep .p-fileupload-choose{
  margin-right: 10px;
}

::ng-deep .p-inputtext{
  width:100%;
}

::ng-deep .p-inputwrapper{
  width:100%;
}


::ng-deep .p-fileupload-buttonbar .p-button{
  padding: 5px 10px;
  font-size: 14px;
}


.itemDes{
  margin: 10px 0;
  display: flex;
}
.itemDes div{

  min-width: 200px;
}


::ng-deep .p-dialog-footer .p-button{
  margin-left: 10px;
  border-radius: 10px;
}

::ng-deep .p-dropdown-label{
  padding: 4px 6px;
}


.subTable th{
  text-align: center;
}

