th, td{
  text-align: center;
}


::ng-deep .p-dialog-footer .p-button{
  margin-left: 10px;
  border-radius: 10px;
}
.itemDes{
  margin: 15px 0;
  display: flex;
  font-size: 15px;
  font-family: 'nunito', sans-serif;
}
.itemDes div{

  min-width: 200px;
}

/* input {
  pointer-events: none;
  opacity: 0.5;
} */
.item{
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.item_col{
  padding: 0 20px;
}
.item_col>div:first-child{
  font-weight: bold;
  margin-bottom: 10px;
}

.con{
  height: 0px;
  overflow: hidden;
}
.cha:hover .con{
  height: 34px;
}
